# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# Adding all game cover thumbnails, can provide as a separate download if required.

public/img/game-cover/*

# End of https://www.toptal.com/developers/gitignore/api/react
